@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

body {
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Play', sans-serif;
}

/* ------------------------------------------------------------ Colors */



/* --------------------------------------------------------- Navigation */

.navbar--custom {
    background-color: #4b1214;
    border-bottom: 2px solid #350c0e;
    border-top: 1px solid #4b1214;
    padding: 4px;
    padding-right: 25px;
    padding-left: 25px;
}

.nav-link {
    font-family: 'Play', sans-serif;
    font-style: italic;
    font-size: 1em;
    text-align: center;
}

.nav-link p {
    margin-bottom: 4px;
    margin-top: 8px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #fff;
}

.navbar-nav {
}

.navbar--toggler-text {
    font-size: .5em;
    margin-bottom: 4px;
}

.navbar-toggler {
    margin-right: 10px;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: 2px ridge #fafafa;
}

.nav--item-width {
    width: 100%;
}

.navbar--effect {
    color: #fff;
    padding: 0.5em 1.2em 0.5em 1.2em;
    transition: background-color 0.35s ease-in-out;
    -moz-transition: background-color 0.55s ease-in-out;
    -webkit-transition: background-color 0.55s ease-in-out;
    -o-transition: background-color 0.55s ease-in-out;
}

.navbar--effect:hover {
    color: #fff;
    background-color: #265c77;
}

.navbar--active, .navbar--active:hover {
    padding: 0.5em 1.2em 0.5em 1.2em;
    color: #fff;
    background-color: #6f1c1f;
}

.nav--icon  {
    font-size: 1.2em;
    margin-bottom: 2px;
}

.logo--height {
    height: 70px;
}

/* ----------------------------------------------------- Block dividers */

.block--divider {
    width: 10%;
    height: 2px;
    border: 0;
    background-color: #61181a;
    margin-top: 0px;
    margin-bottom: 35px;
}

/* --------------------------------------------------------- Containers */

.callout--container {
    position: relative;
    height: 85vh;
    background-image: url('../images/a-team_back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.content--container {
    background-color: #e8f2f7;
}

.fullpage--container {
    margin-top: 91px;
    padding-bottom: 64px;
    clear: both;    
}

/* ---------------------------------------------------------- Jumbotron */

.jumbotron {
    background-color: rgba(38, 101, 130, 0.8);
    /* background-color: rgba(100, 25, 25, 0.7); previous color only delete when happy*/
    border-radius: 5px;
    padding: 1.5em;
    border: 1px solid #97ddf5;
}

.jumbotron h1 {
    color: white;
    font-weight: bold;
    font-size: 1.55em;
}

.jumbotron h2 {
    color: white;
    font-weight: semi-bold;
    font-size: 1.25em;
}

/* ----------------------------------------------------- Page Headings */

.page--heading {
}

.page--heading h2 {
    font-family: 'Play', sans-serif;
    font-weight: bold;
    font-size: 1.8em;
    font-style: italic;
    color: #265c77;
    text-shadow: 1px 1px #fff;
    margin-top: 44px;    
}

.page--heading p {
    margin-bottom: .5em;  
}

/* --------------------------------------------------- How can we help */

.help--content {
    height: 400px;  /* temp setting */
}

/* ---------------------------------------------------------- The Team */

.team--content {
}

/* Flip card code/style adapted from snippet on W3-Schools */

#flip--card-ironman.flipped, #flip--card-captain.flipped, #flip--card-widow.flipped,
#flip--card-hulk.flipped, #flip--card-hawkeye.flipped, #flip--card-thor.flipped {
  transform: rotateY(180deg);
}

/* The flip card container - set the width and height to whatever you want. */
.flip-card {
    background-color: transparent;
    width: 324px;
    height: 398px;
    perspective: 1000px; /* for 3D effect */
    display: block;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    cursor: pointer;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
/* .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
} */

/* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    overflow: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    background-color: grey;
    background-image: radial-gradient(white 10%, lightblue 20%, black 82%);
    color: black;
    border-radius: 14px;
}

/* Style the back side */
.flip-card-back {
    background-color: #3e4d54;
    color: grey;
    border-radius: 14px;
    transform: rotateY(180deg);
    text-align: left;
}

.flip-card-back h2 {
    margin: 8px 0 10px;
    padding: 0px;
    color: white;
    text-align: center;
}

.flip--profile-image {
    width: 324px;
    height: 398px;
}

.progress {
        background-color: #67757b;
}

.progressbar--height {
    height: 20px;
}

.progress--bar-custom {
    margin-bottom: 8px;
    margin-left: 20px;
    margin-right: 20px;
}

.category--label {
    margin-left: 20px;
    color: #fafafa;
    padding: 0px;
    margin: 0px;
    margin-left: 20px;
    margin-top: 15px;
    font-size: 1.1em;
}

.progressbar--text {
    margin: 0px;
    padding: 0px;
    padding-right: 10px;
    color: #fafafa;
    font-size: 1em;
}

/* ------------------------------------------------------------ Footer */

footer {
    background-color: #265c77;
    color: #fafafa;
    min-height: 120px;
    margin: 0;
    padding-top: 44px;
    padding-bottom: 44px;
    border-top: 2px solid #1e4b61;
}

.footer--panel {
    padding-top: 20px;
}

.footer--panel p {
    margin-bottom: 3px;
}

.social--links li a i {
    margin: 0;
    width: 40px;
    height: 40px;
    padding: 16px 0;
    border-radius: 25%;
    font-size: 18px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #1b4356;
    transition: background 0.55s ease-in-out;
    -moz-transition: background 0.55s ease-in-out;
    -webkit-transition: background 0.55s ease-in-out;
    -o-transition: background 0.55s ease-in-out;
}

.social--links li a i:hover {
    background: #61181a;
}

.social--gap {
    margin-top: 15px;
}

/* ---------------------------------------------------- Media Queries */

/* larger screens above 768px width */
@media only screen and (min-width: 768px) {

    .nav-link {
        font-size: 1.2em;
    }

    .nav--item-width {
        width: 5em;
    }

    .nav--icon  {
        font-size: 1.2em;
    }

    .logo--height {
        height: 100px;
    }

    .jumbotron h1 {
        font-size: 2em;
    }

    .jumbotron h2 {
        font-size: 1.5em;
    }

    .page--heading h2 {
        font-size: 2.5em;
    }

    .fullpage--container {
        margin-top: 139px;
    }

}
