@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

body {
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Play', sans-serif;
}

/* --------------------------------------------------------- Containers */

.callout--container {
    height: 85vh;
    background-image: url('../images/a-team_back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
}

